:root {
    --first-color: #2196F3;
    --second-color: #212121;
    --third-color: #757575;
    --fourth-color: #ffffff;
    --fifth-color: #2F303A;
    --sixth-color: #F5F4FA;
    --seventh-color: #000000;
}
html{
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after{
    box-sizing: inherit;
  }
body {
    color: var(--third-color);
    background-color: #ffffff;
    font-family: 'Roboto';
  }
  ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
  }
  .secta{
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
  }
.container{
    width: 1200px;
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 0; 
    padding-left: 15px;
    padding-right: 15px; 
}
  /*шапка сайта*/
  
  /*logo*/
  .logo {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto';
    letter-spacing: 0.03em;
    line-height: 31px;
    font-size: 26px;
  }
  
  span {
    color: var(--first-color);
    text-decoration: none;
  }
  
  /*шапка навигації*/
  .header-nav{
    box-sizing: border-box;
    margin-bottom: 0;
    border-bottom: 1px solid #ECECEC;
    text-decoration: none;
    }
    
  .header-nav,
  .contacts-nav
  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
  }

  .nav-list{
    display: flex;
    margin-left: 93px;
    text-decoration: none;
  }

  .nav-list .link-current {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px; 

    color: var(--first-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  
  .nav-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #000000;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .nav-list .link:hover,
  .nav-list .link:focus {
    color: var(--first-color);
    text-decoration: none;
  }

  .contacts-nav{
    display: flex;
    margin-left: auto;
    text-decoration: none;
  }

  .contacts-nav li + li {
    margin-left: 50px;
    text-decoration: none;
  }
  
  .contacts-nav a {
    color: var(--third-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .contacts-nav a:focus,
  .contacts-nav a:hover {
    color: var(--first-color);
    text-decoration: none;
  }
   .list-item{
    margin-right: 54px;
    text-decoration: none;
  }
  .list-item:last-child{
    margin-right: 0;
    text-decoration: none;
  } 
.navig{
    padding-left: 0px;}
/* .logo {
    color: var(--seventh-color);
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto';
    display: flex;
    letter-spacing: 0.03em;
    line-height: 31px;
    font-size: 26px;
}

.logo-span {
    color: var(--first-color);
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto';
    letter-spacing: 0.03em;
    line-height: 31px;
    font-size: 26px;
}

.header-nav{
    box-sizing: border-box;
    margin-bottom: 0;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav {
    color: var(--second-color);
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto';
    margin-right: 54px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.nav:last-child{
    margin-right: 0;
  } 
.nav-list{
    display: flex;
    margin-left: 93px;
  }
.nav:hover {
    color: var(--first-color);
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
} */
/* .cont{
    margin-left: 250px;
    color: var(--third-color);
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
} */

/* .contakts {
    color: var(--third-color);
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto';
    display: flex;
    margin-left: auto;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.contakts li + li {
    margin-left: 50px;
  }
  .contakts a {
    color: var(--primary-text-color);
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contakts a:focus,
  .contakts a:hover {
    color: var(--accent-color);
  } */
.conta{
    color: var(--third-color);
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    margin-bottom: 9px;
}
.conta:hover{
    color: var(--first-color);
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.hero {
    background-color: var(--fifth-color);
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
    margin-top: 23px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
     url("./img/fone.jpg");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}

.big-title {
    color: var(--fourth-color);
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-style: normal;
    font-family: 'Roboto';
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    font-size: 44px;
    line-height: 60px;
}

.button {
    color: var(--fourth-color);
    background-color: var(--first-color);
    text-align: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    min-width: 200px;
    min-height: 50px;
    padding: 10px 25px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.mini-title {
    color: var(--second-color);
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}
.min-title{
    color: var(--second-color);
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.tex{
    color: var(--third-color);
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.text {
    color: var(--third-color);
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto';
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}
.title{
    text-align: center;
    margin-bottom: 50px;
}
.foot {
    background-color: var(--fifth-color);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo2 {
    color: var(--fourth-color);
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto';
    letter-spacing: 0.03em;
    line-height: 31px;
    font-size: 26px;
}

.logo2-span {
    color: var(--first-color);
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto';
    letter-spacing: 0.03em;
    line-height: 31px;
    font-size: 26px;
}

.adress {
    color: var(--fourth-color);
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto';
    margin-top: 20px;
    margin-bottom: 9px;
}

.filter{
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
  }
  .filter li:not(:last-child){
    margin-right: 8px;
  }
  .filter-link{
    display: inline-block;
    /* border: 1px solid black; */
    border-radius: 4px;
    min-width: 73px;
    height: 38px;
    padding: 6px 22px;
    
    /* font-family: 'Roboto'; */
    color: var(--second-color);
    background-color: var(--sixth-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03e;
    text-decoration: none;
  }
.filter-link:hover,
.filter-link:focus{
background-color: var(--first-color);
color: var(--sixth-color);
}
.team img{
    margin-bottom: 30px;
  }
.img1{
    margin-right: 30px;
    width: 370px;
}
.img2{
    justify-content: space-between;
    width: 270px;
}
.nt{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
}
.team{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team:not(:last-child){
    margin-right: 30px;
}

.name{
    color: var(--second-color);
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto';
    text-align: center;
    letter-spacing: 0.03em;
}
.pos{
    color: var(--third-color);
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto';
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 19px;
}
.examples{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0px;
  }

  .examples-link{
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .examples-title {
    color: var(--second-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    padding-left: 24px;
  }
  
  .examples-type {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    padding-left: 24px;
  }

.non-vision {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}